@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f3f2ef;
  }

li {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}
  
.link {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
}
  

/************************************** navbar - menu *********************************************/
.active{
  color:rgb(0, 0, 0) !important;
  border-bottom: 1px solid ;
}
.navbar-background {
    height: 55px;
    background-color: white;
    border-width: 10px;
  }

.navbar-duzen {
  margin-left: 100px;
}

.nav-item {
  text-align: center;
}

.menu-duzen {
  margin-left: 90px;
}

.menutext {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: rgba(3, 3, 3, 0.849);
  margin-top: 5px;
  font-weight: 600;
}

.menu-pp {
  margin-top: -15px;
}

.menutext:hover {
color: rgb(0, 0, 0);
}

.premium-text{
  font-size: 12px; 
  margin-top: 5px;
  margin-left: 5px; 
  color:#915907;
  font-weight: 400;
}

i {
  color: gray;
  margin-top: 8px;
}

i:hover {
  color: black;
}

input.search {
    height: 36px;
    width: 290px;
    background-color: #eef3f8;
    border: 0;
}
  
input.search::placeholder {
    font-size: 14px;
    color: gray;
    background-image:  url(../images/search-alt-2-regular-60.png);
    background-repeat: no-repeat;
    background-size: 8%;
}

input.content {
  border-radius: 40px;
  height: 45px;
  margin-bottom: 15px;
}
input.content::placeholder {
  font-weight: bolder;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(assets/images/edit-regular.svg);
  background-repeat: no-repeat;
  background-size: auto;
}

/************************************** main *********************************************/
.main{
  padding-top:25px;
}

.header-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.card {
  border-radius: 70px;
}
/******************* sol - kısım *************************/
.card-header-one{
  height:56px;
  background-image: url(https://static-exp1.licdn.com/sc/h/55k1z8997gh8dwtihm11aajyq);
  background-size: cover;
}

.card-left-one{
  width: 70px;
  height: 70px;
  margin-left: 30%;
  border-radius: 50%;
  border: 2px solid #f7f7f7;
}

.card-left-one-text{
  margin-top: -5px;
  margin-left: 25px;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: 600;
}

.card-left-two{
  width: 14rem; 
  margin-top: 4rem;
}

.card-left-two-text {
  font-size: 13px;
  color: #0a66c2;
}

.left-side {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 11px;
  font-weight: 700;
  color: #5f5f5f;
}

.text-color {
  color: rgb(138, 132, 132);
}

/******************* orta-kısım *************************/
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 15px; 
  color: #212529; 
  font-weight: 400;
}
.middlepart-pp{
  height: 55px;
  border-radius: 50%;
  border: 2px solid #f7f7f7;
}
.mediatext {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f5f5f;
}

.mediatext-position{
  text-align: center;
}

.post-icon {
  margin-left: 17.7rem;
}

button.mediatext:hover {
  color: gray;
}

.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.posttext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}

.postphoto-text{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
  font-size: 13px; 
  color: #474747;
}

/******************* sağ-kısım *************************/

.card-right-pp {
  width: 50px; 
  height: 50px; 
  border-radius: 50%
}

.card-right-one > button {
  border-radius: 50px ;
  margin-left: 55px;
  color:rgba(0, -1, 0, 0.6);
  border-color:rgba(0, -1, 0, 0.6)
}

.card-right-two{
  width: 319px;
}

.buttons{
  background-color:gray;
  color: black;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 167ms;
  cursor: pointer;
  transition-property: background-color,box-shadow,color;
}

.buttons:hover{
  background-color:rgb(0 0 0 / 12%);
}

/************************************** mesajlaşma kısmı *********************************************/

.footer-icon{
  color: hsl(0deg 0% 40%);
}

  


  


  


  




